<form method="post" action="{{ path('app_task_delete', {'id': task.id}) }}" onsubmit="return confirm('Tem certeza?');">
<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
<button class="btn">Deletar</button>
</form>