{% extends 'base.html.twig' %}

{% block title %}Editar Tarefa{% endblock %}

{% block body %}
<h1>Editar Tarefa</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Atualizar</button>
{{ form_end(form) }}

<div class="task-links">
    <a href="{{ path('app_task_index') }}" class="btn">Voltar</a>
</div>

{% endblock %}
