{% extends 'base.html.twig' %}

{% block title %}Nova Tarefa{% endblock %}

{% block body %}
<h1>Criar nova tarefa</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Salvar</button>
{{ form_end(form) }}

<a href="{{ path('app_task_index') }}" class="btn">Voltar</a>
{% endblock %}
