<!DOCTYPE html>

<title>Editar usuário</title>

{% block body %}
    <h1>Editar usuário</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Atualizar'}) }}

    <a href="{{ path('app_user_index') }}">Voltar a lista</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}